@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}

body {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

section {
  border-radius: 100px;
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: auto;
  max-width: 1000px;
}

.box1,
.box2,
.box3 {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box1 {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box2 {
  background-color: hsl(184, 100%, 22%);
}

.box3 {
  background-color: hsl(179, 100%, 13%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h1 {
  font-family: "Big Shoulders Display";
  font-weight: 700;
  font-size: 30px;
  color: hsl(0, 0%, 95%);
}
.button1,
.button2,
.button3 {
  background-color: hsl(0, 0%, 95%);
  width: 70%;
  height: 15%;
  border: 0;
  border-radius: 50px;
  margin-bottom: 20px;
}
.button1 {
  color: hsl(31, 77%, 52%);
}
.button2 {
  color: hsl(184, 100%, 22%);
}
.button3 {
  color: hsl(179, 100%, 13%);
}

#image_sedan {
  width: 100px;
  height: 60px;
  background-image: url(./images/icon-sedans.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#image_suv {
  width: 65px;
  height: 60px;
  background-image: url(./images/icon-suvs.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
#image_lux {
  width: 65px;
  height: 60px;
  background-image: url(./images/icon-luxury.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 700px) {
  body {
    height: 100vh;
  }
  section {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: auto;
  }

  .box1 {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
  }

  .box2 {
    background-color: hsl(184, 100%, 22%);
  }

  .box3 {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 00px;
  }

  .box1,
  .box2,
  .box3 {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .button1,
  .button2,
  .button3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .button1:hover,
  .button2:hover,
  .button3:hover {
    background-color: transparent;
    border: 0.5px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
    position: relative;
  }
}
